<h1 align=center> PRIMERA PARTE DEL PROYECTO: ETL </h1>

Los procesos de ETL (_extract, transform y load_) son aquellos mediante los cuales se extrae información de uno o varios orígenes de datos. Ésta se transforma para adaptarla a las necesidades del negocio y posteriormente se carga en un sitio compartido para su consulta por todas las partes interesadas <span style="color:yellow">[1]</span>.

---

<h3 align=center> Recursos </h3>

Lo primero que se debe hacer es importar las librerías que van a ser utilizadas. En el siguiente bloque de código se encuentra cada una de ellas. En el siguiente bloque de código se encuentra cada una de ellas.

In [2]:
import pandas as pd
import numpy as np

---

<h3 align=center> Extracción </h3>

Como se mencionó anteriormente, para la etapa de extracción se proporcionaron cuatro archivos CSV, cada uno de ellos corresponde a una plataforma de _streaming_ diferente: Netflix, Amazon Prime, Disney Plus y Hulu.

In [3]:
df_amazon_prime = pd.read_csv('data/amazon_prime_titles.csv')
df_disney_plus = pd.read_csv('data/disney_plus_titles.csv')
df_hulu = pd.read_csv('data/hulu_titles.csv')
df_netflix = pd.read_csv('data/netflix_titles.csv')

In [4]:
df_amazon_prime.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [5]:
df_disney_plus.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [6]:
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [7]:
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

Ya tendriamos cargarda la data en cuatro dataframes de Pandas, listos para ser trabajados. Sin embargo antes de esto es necesario que conozcamos un poco cada dataframe para saber cuáles son las modificaciones que deben ser realizadas a cada uno de ellos. Lo primero será ver cual es el tipo de dato de cada una de las columnas de nuestros dataframes:

In [8]:
print('--------------------------------------------------------------------------------')
print('             información de cada columna de df_amazon_prime')
print('--------------------------------------------------------------------------------')
print(df_amazon_prime.info())

--------------------------------------------------------------------------------
             información de cada columna de df_amazon_prime
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB
None

In [9]:
print('--------------------------------------------------------------------------------')
print('               información de cada columna de df_disney_plus')
print('--------------------------------------------------------------------------------')
print(df_disney_plus.info())

--------------------------------------------------------------------------------
               información de cada columna de df_disney_plus
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB
None

In [10]:
print('--------------------------------------------------------------------------------')
print('                 información de cada columna de df_hulu')
print('--------------------------------------------------------------------------------')
print(df_hulu.info())

--------------------------------------------------------------------------------
                 información de cada columna de df_hulu
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB
None

In [11]:
print('--------------------------------------------------------------------------------')
print('                información de cada columna de df_netflix')
print('--------------------------------------------------------------------------------')
print(df_netflix.info())

--------------------------------------------------------------------------------
                información de cada columna de df_netflix
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

La forma en la que se almacena la información en un DataFrame u objeto en Python afecta lo que podemos gacer con él y también a los resultados de los cálculos. En la siguiente tabla se muestra una equivalencia entre los tipos de datos en Python y en su librería Pandas:

| Tipo en python nativo | Tipo en Pandas | Descripción |
| --- | --- | --- |
| string | object | El **dtype** más genral. Será signado a un campo si la columna contiene tipos mixtos (números y secuencias de caracteres)|
| int | int64 | Carcateres numéricos. 64 se refiere a la memoria asignada para almacenar el caracter.
| float | float64 | Caracteres numéricos con decimales. Si una columna contiene números y NaNs, Pandas usará float64 por defecto, en caso de que los datos faltantes contengan decimales

Nota: A los tipos de datos de un dataframe se les conoce como dtype

La columna cast del dataframe df_hulu es de tipo float64 a diferencia de los demás porque no hay ningún valor registrado. Todos los datos son tipo np.nan (_not a number_). Al unir todos los dataframes esto no representa un incoveniente porque al haber datos tipo object en los otros dataframes los va tomar como tal. De igual forma podemos realizar la transformación de tipo de dato de la columna de la siguiente forma:

In [12]:
df_hulu['cast'] = df_hulu['cast'].astype('object')

print(df_hulu.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      object
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: int64(1), object(11)
memory usage: 288.2+ KB
None

---

<h3 align=center> Transformación </h3>

#### 1. Se realizaron los siguientes cambios en el campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para Amazon Prime: as123)

In [13]:
# Creación de la columna id para df_amazon_prime
df_amazon_prime['id'] = 'a' + df_amazon_prime['show_id']

# Obtención de los valores únicos de la columna id
'''
amazon_id_unique = df_amazon_prime['id'].unique()

for element in amazon_id_unique:
    print(element)
'''

# Eliminación de la columna show_id
df_amazon_prime.drop(['show_id'], axis=1, inplace=True)
df_amazon_prime.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5

In [14]:
# Creación de la columna id para df_disney_plus
df_disney_plus['id'] = 'd' + df_disney_plus['show_id']

# Obtención de los valores únicos de la columna id
'''
disney_id_unique = df_disney_plus['id'].unique()

for element in disney_id_unique:
    print(element)
'''

# Eliminación de la columna show_id
df_disney_plus.drop(['show_id'], axis=1, inplace=True)
df_disney_plus.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,ds1
1,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,ds2
2,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,ds3
3,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",ds4
4,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,ds5

In [15]:
# Creación de la columna id para df_hulu
df_hulu['id'] = 'h' + df_hulu['show_id']

# Obtención de los valores únicos de la columna id
'''
hulu_id_unique = df_hulu['id'].unique()

for element in hulu_id_unique:
    print(element)
'''

# Eliminación de la columna show_id
df_hulu.drop(['show_id'], axis=1, inplace=True)
df_hulu.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2
2,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hs3
3,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,hs4
4,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hs5

In [16]:
# Creación de la columna id para df_amazon_prime
df_netflix['id'] = 'n' + df_netflix['show_id']

# Obtención de los valores únicos de la columna id
'''
netflix_id_unique = df_netflix['id'].unique()

for element in netflix_id_unique:
    print(element)
'''

# Eliminación de la columna show_id
df_netflix.drop(['show_id'], axis=1, inplace=True)
df_netflix.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",ns1
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",ns2
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ns3
3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",ns4
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,ns5

#### 2. Los valores del campo rating van a ser remplazados por la string 'G', que corresponde al _maturity rating: "general for all audiences"_

In [17]:
print('--------------------------------------------------------------------------------')
print('     Imputación de valores nulos en la columna rating de df_amazon_prime')
print('--------------------------------------------------------------------------------')
print('Valores nulos antes: ', df_amazon_prime['rating'].isnull().sum())
df_amazon_prime['rating'] = df_amazon_prime['rating'].fillna('G')
print('valores nulos después:', df_amazon_prime['rating'].isnull().sum())
print(df_amazon_prime['rating'].unique())
print('--------------------------------------------------------------------------------')
print('    Imputación de valores nulos en la columna rating de df_disney_plus')
print('--------------------------------------------------------------------------------')
print('Valores nulos antes:', df_disney_plus['rating'].isnull().sum())
df_disney_plus['rating'] = df_disney_plus['rating'].fillna('G')
print('Valores nulos después:', df_disney_plus['rating'].isnull().sum())
print(df_disney_plus['rating'].unique())
print('--------------------------------------------------------------------------------')
print('     Imputación de valores nulos en la columna rating de df_hulu')
print('--------------------------------------------------------------------------------')
print('Valores nulos antes:', df_hulu['rating'].isnull().sum())
df_hulu['rating'] = df_hulu['rating'].fillna('G')
print('Valores nulos después:', df_hulu['rating'].isnull().sum())
print(df_hulu['rating'].unique())
print('--------------------------------------------------------------------------------')
print('     Imputación de valores nulos en la columna rating de df_netflix')
print('--------------------------------------------------------------------------------')
print('Valores nulos antes:', df_netflix['rating'].isnull().sum())
df_netflix['rating'] = df_netflix['rating'].fillna('G')
print('Valores nulos después:', df_netflix['rating'].isnull().sum())
print(df_netflix['rating'].unique())

--------------------------------------------------------------------------------
     Imputación de valores nulos en la columna rating de df_amazon_prime
--------------------------------------------------------------------------------
Valores nulos antes:  337
valores nulos después: 0
['G' '13+' 'ALL' '18+' 'R' 'TV-Y' 'TV-Y7' 'NR' '16+' 'TV-PG' '7+' 'TV-14'
 'TV-NR' 'TV-G' 'PG-13' 'TV-MA' 'PG' 'NC-17' 'UNRATED' '16' 'AGES_16_'
 'AGES_18_' 'ALL_AGES' 'NOT_RATE']
--------------------------------------------------------------------------------
    Imputación de valores nulos en la columna rating de df_disney_plus
--------------------------------------------------------------------------------
Valores nulos antes: 3
Valores nulos después: 0
['TV-G' 'PG' 'TV-PG' 'G' 'PG-13' 'TV-14' 'TV-Y7' 'TV-Y' 'TV-Y7-FV']
--------------------------------------------------------------------------------
     Imputación de valores nulos en la columna rating de df_hulu
--------------------------------------------------------------------------------
Valores nulos antes: 520
Valores nulos después: 0
['TV-MA' 'G' 'PG-13' 'R' 'TV-14' 'PG' 'TV-PG' 'NOT RATED' 'TV-G'
 '2 Seasons' 'TV-Y' '93 min' '4 Seasons' 'TV-Y7' '136 min' '91 min'
 '85 min' '98 min' '89 min' '94 min' '86 min' '3 Seasons' '121 min'
 '88 min' '101 min' '1 Season' '83 min' '100 min' '95 min' '92 min'
 '96 min' '109 min' '99 min' '75 min' '87 min' '67 min' '104 min'
 '107 min' '84 min' '103 min' '105 min' '119 min' '114 min' '82 min'
 '90 min' '130 min' '110 min' '80 min' '6 Seasons' '97 min' '111 min'
 '81 min' '49 min' '45 min' '41 min' '73 min' '40 min' '36 min' '39 min'
 '34 min' '47 min' '65 min' '37 min' '78 min' '102 min' '129 min'
 '115 min' '112 min' 'NR' '61 min' '106 min' '76 min' '77 min' '79 min'
 '157 min' '28 min' '64 min' '7 min' '5 min' '6 min' '127 min' '142 min'
 '108 min' '57 min' '118 min' '116 min' '12 Seasons' '71 min']
--------------------------------------------------------------------------------
     Imputación de valores nulos en la columna rating de df_netflix
--------------------------------------------------------------------------------
Valores nulos antes: 4
Valores nulos después: 0
['PG-13' 'TV-MA' 'PG' 'TV-14' 'TV-PG' 'TV-Y' 'TV-Y7' 'R' 'TV-G' 'G'
 'NC-17' '74 min' '84 min' '66 min' 'NR' 'TV-Y7-FV' 'UR']

#### 3. Los campos de fecha tendrán el formato: AAAA - mm - dd

La libreria NumPy de Phyton define el tipo de dato **datetime64** para trabajar con fechas y diferencias entre fechas. A la hora de importar fechas es habitual que estas se encuentren como cadenas de texto, por lo que en Pnadas exite el método `to_datetime()`mediante el cual se pueden realizar la conversión de estos datos de texto a fecha. <span style="color:yellow">[2]</span>

In [18]:
# Amazon Prime
df_amazon_prime['date_added'] = pd.to_datetime(df_amazon_prime['date_added'], infer_datetime_format=True, errors='coerce')
df_amazon_prime['date_added'].head()

0   2021-03-30
1   2021-03-30
2   2021-03-30
3   2021-03-30
4   2021-03-30
Name: date_added, dtype: datetime64[ns]

In [19]:
# Podemos utilizar el método Apply y la expresion regular de como debe estar representada la fecha para saber si hay valores atípicos
# (por ahora suponer que no hay valores atipicos en el campo de fecha para adelantar con la parte de la API)

In [20]:
# Disney Plus
df_disney_plus['date_added'] = pd.to_datetime(df_disney_plus['date_added'], infer_datetime_format=True, errors='coerce')
df_disney_plus['date_added'].head()

0   2021-11-26
1   2021-11-26
2   2021-11-26
3   2021-11-26
4   2021-11-25
Name: date_added, dtype: datetime64[ns]

In [21]:
# Hulu
df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'], infer_datetime_format=True, errors='coerce')
df_hulu['date_added'].head()

0   2021-10-24
1   2021-10-23
2   2021-10-23
3   2021-10-22
4   2021-10-22
Name: date_added, dtype: datetime64[ns]

In [22]:
# Netflix
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'], infer_datetime_format=True, errors='coerce')
df_netflix['date_added'].head()

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-24
4   2021-09-24
Name: date_added, dtype: datetime64[ns]

#### 4. Los campos van a estar en minúscula para evita ambiguadades

In [23]:
columns = list(df_amazon_prime.columns)
columns.remove('release_year')
columns.remove('date_added')

In [24]:
# Amazon Prime
for element in columns:
    df_amazon_prime[element] = df_amazon_prime[element].str.lower()

df_amazon_prime.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5

In [25]:
# Disney Plus
for element in columns:
    df_disney_plus[element] = df_disney_plus[element].str.lower()

df_disney_plus.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!,ds1
1,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,comedy,santa claus passes his magic bag to a new st. ...,ds2
2,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,"animation, comedy, family",sid the sloth is on santa's naughty list.,ds3
3,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,41 min,musical,"this is real life, not just fantasy!",ds4
4,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,1 season,"docuseries, historical, music",a three-part documentary from peter jackson ca...,ds5

In [26]:
# hulu
for element in columns:
    df_hulu[element] = df_hulu[element].str.lower()

df_hulu.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,hs1
1,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,94 min,"crime, drama, thriller","mark, a low end south london hitman recently r...",hs2
2,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,108 min,"action, thriller",a hardened arizona rancher tries to protect an...,hs3
3,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,97 min,horror,a forest ranger and two survivalists with a cu...,hs4
4,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,104 min,"science fiction, thriller",mankind's earliest settlers on the martian fro...,hs5

In [27]:
# Netflix
for element in columns:
    df_netflix[element] = df_netflix[element].str.lower()

df_netflix.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",ns1
1,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",ns2
2,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,ns3
3,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,1 season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",ns4
4,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,ns5

#### 5. Debe haber una separación del campo duration: duration_int y duration_type. el primero será un integer y el segundo um string indicando la unidad: min (minutos) o seassons (temporadas)

In [28]:
# Amazon Prime
df_amazon_prime[['duration_int', 'duration_type']] = df_amazon_prime['duration'].str.split(' ', expand=True)
df_amazon_prime[['duration_int', 'duration_type']].head()

  duration_int duration_type
0          113           min
1          110           min
2           74           min
3           69           min
4           45           min

In [29]:
# Disney Plus
df_disney_plus[['duration_int', 'duration_type']] = df_disney_plus['duration'].str.split(' ', expand=True)
df_disney_plus[['duration_int', 'duration_type']].head()

  duration_int duration_type
0           23           min
1           91           min
2           23           min
3           41           min
4            1        season

In [30]:
# Hulu
df_hulu[['duration_int', 'duration_type']] = df_hulu['duration'].str.split(' ', expand=True)
df_hulu[['duration_int', 'duration_type']].head()

  duration_int duration_type
0          NaN           NaN
1           94           min
2          108           min
3           97           min
4          104           min

In [31]:
# Netflix
df_netflix[['duration_int', 'duration_type']] = df_netflix['duration'].str.split(' ', expand=True)
df_netflix[['duration_int', 'duration_type']].head()

  duration_int duration_type
0           90           min
1            2       seasons
2            1        season
3            1        season
4            2       seasons

In [32]:
df_netflix.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",ns1,90,min
1,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",ns2,2,seasons
2,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,ns3,1,season
3,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,1 season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",ns4,1,season
4,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,ns5,2,seasons

---

<h3 align=center> <i>UNION</i> de todas las tablas df_amazon_prime, df_disney_plus, df_hulu y df_netflix </h3>

In [33]:
df = pd.concat([df_amazon_prime, df_disney_plus, df_hulu, df_netflix])
print(df.shape)

(22998, 14)

---

<h3 align=center> Cambio de la distribución de las columnas</h3>

In [34]:
order_list = [
    'id', 
    'title',
    'type',
    'duration', 
    'duration_type',
    'duration_int',
    'director',
    'cast',
    'country',
    'date_added',
    'release_year',
    'rating',
    'listed_in',
    'description'
]

df = df[order_list]
df.head()

,id,title,type,duration,duration_type,duration_int,director,cast,country,date_added,release_year,rating,listed_in,description
0,as1,the grand seduction,movie,113 min,min,113,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...
1,as2,take care good night,movie,110 min,min,110,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,secrets of deception,movie,74 min,min,74,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,pink: staying true,movie,69 min,min,69,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,monster maker,movie,45 min,min,45,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...

---

<h3 align=center> Extracción de los ratings </h3>

In [35]:
df_1 = pd.read_csv('data/ratings/1.csv', index_col=False)
df_2 = pd.read_csv('data/ratings/2.csv', index_col=False)
df_3 = pd.read_csv('data/ratings/3.csv', index_col=False)
df_4 = pd.read_csv('data/ratings/4.csv', index_col=False)
df_5 = pd.read_csv('data/ratings/5.csv', index_col=False)
df_6 = pd.read_csv('data/ratings/6.csv', index_col=False)
df_7 = pd.read_csv('data/ratings/7.csv', index_col=False)
df_8 = pd.read_csv('data/ratings/8.csv', index_col=False)

---

<h3 align=center> <i>UNION</i> de todas las tablas de ratings </h3>

In [36]:
df_ratings = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8])
df_ratings.shape

(11024289, 4)

In [37]:
# df_ratings.to_csv('data/ratings.csv', encoding='utf-8', index=False)

---

<h3 align=center> Creación de un nuevo DataFrame tomando el promedio de <i>rating</i> por <i>movie_id</i></h3>

In [38]:
df_m = df_ratings[['rating', 'movieId']].groupby('movieId', as_index=False).mean()
print(df_m.head())
print(df_m.info())

  movieId    rating
0     as1  3.467131
1    as10  3.439571
2   as100  3.609302
3  as1000  3.556701
4  as1001  3.585288
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  22998 non-null  object
 1   rating   22998 non-null  float64
dtypes: float64(1), object(1)
memory usage: 359.5+ KB
None

Nota: Hay la misma cantidad de filas que en el data frame de todas la splataformas de streming juntas

---

<h3 align=center> <i>JOIN</i> de todas las tablas por id</h3>

Para unir las tablas es necesario renombrar la columna `movieId` por `id` del DataFrame `df_m`. También es necesario renombrar la columna `rating` ya que también existe una columna con este nombre en `df`:

In [39]:
df_m.rename(columns={'movieId': 'id', 'rating': 'score'}, inplace=True)
df_m.head()

       id     score
0     as1  3.467131
1    as10  3.439571
2   as100  3.609302
3  as1000  3.556701
4  as1001  3.585288

De igual forma si no se renombran las columnas, al utilizar el método `merge()` de pandas se renombran de forma automática

In [40]:
data = pd.merge(df, df_m, on='id')
data.head()

,id,title,type,duration,duration_type,duration_int,director,cast,country,date_added,release_year,rating,listed_in,description,score
0,as1,the grand seduction,movie,113 min,min,113,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,3.467131
1,as2,take care good night,movie,110 min,min,110,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,3.548682
2,as3,secrets of deception,movie,74 min,min,74,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,3.500000
3,as4,pink: staying true,movie,69 min,min,69,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",3.538055
4,as5,monster maker,movie,45 min,min,45,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,3.478992

Nota: Al utilizar el argumento `on` y no `left_on` o `right_on` en el método `merge()` estamos realizando un Inner Join de los DataFrames

---

<h3 align=center> Carga de la data </h3>

In [41]:
# data.to_csv('data/data.csv', encoding='utf-8', index=False)

---

<h3 align=center> Referencias </h3>

[1] https://www.cognodata.com/procesos-etl/ </br>
[2] https://www.analyticslane.com/2021/07/22/pandas-conversion-de-texto-a-fecha/#:~:text=La%20funci%C3%B3n%20to_datetime()%20de%20Pandas&text=format%20%3A%20Una%20cadena%20de%20texto,de%20la%20opci%C3%B3n%20es%20falso. </br>
[3] https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html